.message {
    text-align: right;
    margin-bottom: 30px;
}

.imageAndText {
    margin-bottom: 5px;
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
}

.imageAndText img {
    width: 48px;
    height: 48px;
}

.text {
    position: relative;
    margin-right: 12px;
    padding: 8px 13px;
    background-color: #0066CC;
    color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 #1D21261A;

}

.text:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    border: 12px solid;
    border-color: transparent transparent #0066CC;
}

.name {
    font-size: 18px;
}

.messageText {
    font-size: 16px;
    font-weight: 400;
    white-space: normal;
}

.time {
    font-size: 10px;
    padding-right: 10px;
}